*{
margin: 0;
padding: 0;
box-sizing: border-box;
}




body{
width: 100%;
display: flex;
height: 100vh;
flex-direction: row;
}

.main{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.mainInferior{
width: 100%;
background-color: rgb(181, 250, 116);
display: flex;
height: 20%;
flex-direction: column;
align-items: left;
justify-content: center;
gap: 10%;
}


.mainInferior a{
font-size: x-large;
margin-left: 20%;
}

.header{
width: 20%;
background-color: rgb(226, 185, 110);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.txtHeader{
color: rgb(255, 0, 0);
text-decoration: aquamarine;
}

.txtHeader:hover{

transition: font-arial 1s ease-out ;
color: brown;
font-size: 70px ;
}


.mainSuperior{
width: 100%;
display: flex;
height: 100%;
flex-direction: row;
}

.supIzq{
width: 50%;
background-color: rgb(108, 108, 245);
display: flex;
height: 100%;
flex-direction: column;
}

.supDer{
width: 50%;
background-color: rgb(105, 105, 177);
display: flex;
height: 100%;
flex-direction: column;
}

.supDerSup{
width: 100%;
background-color: rgb(228, 135, 197);
position: relative;
display: flex;
height: 45%;
align-items: center;
justify-content: center;
}

.supDerSup ul:hover{
background-color: aqua;
transform: rotate(45deg);
transition: background-color 1s ease-in, transform 2s linear;
}

.supDerSup a{
color: black;
background-color: bisque;
border-radius: 50%;
padding: 5%;
position: absolute;
bottom: 0;
right: 5;
text-decoration: none;
}

.supDerInf{
width: 100%;
background-color: rgb(155, 210, 241);
display: flex;
height: 70%;
flex-direction: column;
align-items: center;
justify-content: center;
}

.supDerInf h1{
font-size: 70px
}

.supDerInf p{
color: green;
font-size: large;
font-style: italic;

}

.supDerInf p:hover{
transform: rotate(360deg);
transition: transform 1s linear, color 1s linear;
font-size: x-large;
color: yellow
}

.supIzqSup{
width: 100%;
background-color: rgb(217, 230, 142);
position: relative;
height: 60%;
}

.supIzqSup img{
width: 40%;
height: 70%;
position: center;
top: 0;
right: 0;
}

.supIzqSup p{
position: absolute;
bottom: 0;
left: 0;

}


.tarjeta{
width: 70%;
height: 40%;
margin: 5%;
padding: 2%;
display: flex;
flex-direction: column;
background-color: beige;
border-radius: 10px;
align-items: center;
justify-content: center;
}

.tarjeta img{
height: 80%;
width: 35%;
}

.supIzqInf{
width: 100%;
background-color: rgb(175, 117, 141);
display: flex;
height: 60vh;
flex-direction: column;
align-items: center;
justify-content: center;
}

